@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #224941 url('./img/bg.jpg') no-repeat center center/cover;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: auto;
    position: relative;
    transform: scale(1);
}

.gradient-circle {
    background: conic-gradient(
        #55b7a4 0%,
        #4ca493 40%,
        #fff 40%,
        #fff 60%,
        #336d62 60%,
        #2a5b52 100%
    );
    height: 320px;
    width: 320px;

    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -2;
    border-radius: 50%;
}

.circle {
    background: #010f1c;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
}

.pointer-container {
    /* You need to use dev tool to see this pointer-container position */
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px; /* container height 300px. top is -40px. 300 / 2 + 40 = 190 */

    background: red;
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/animation-fill-mode*/
    animation: rotate 7.5s linear forwards infinite;

    /* I don't think it needs the center value */
    /*transform-origin: bottom center;*/
    transform-origin: bottom;
}

.pointer {
    background: #fff;
    border-radius: 50%;
    height: 20px; /* the same as the pointer-container width */
    width: 20px;
    display: block;
}

.container.grow {
    animation: grow 3s linear forwards; /* 3s is matching the breatheTime set in js */
}
.container.shrink {
    animation: shrink 3s linear forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Before the grow and shrink is in the container level, the white ball (.pointer) and it's container (.pointer-container)
   has actually grow as well, but because the scale is not that big, you don't see it, you can change it to 2 to check
   This is why the distance of the white ball and the circle path is always relatively the same */
@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2);
    }
}

@keyframes shrink {
    from {
        transform: scale(2);
    }
    to {
        transform: scale(1);
    }
}





